main {
    height: 100%;
}

.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .app-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
  }
  